    #map{
      height: 77vh;
      size: landscape;
      /*height: calc(100vh - 56vh);*/
      /*background: grey;*/

    }

#coordinate{
  position: absolute;
  left: 40%;
  background: lightgoldenrodyellow;
  z-index: 99999;
  bottom: 0;
  padding: 3px;
}


h1 {
  color:seagreen ;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 5px;
  text-align: center;
  text-decoration: underline;
  text-transform: uppercase;
  font-family:  Helvetica, serif;
  font-style: italic;
}

/*div {
  background-color: moccasin;
}*/

/*#map {
  background-color: moccasin;
}*/
  
body {
  background-color: #d9ebc9;
}

.leaflet-bar a, 
.leaflet-control-layers-toggle {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: block;
    color: azure;
    background-color: lightgoldenrodyellow;
  }

  /*.leaflet-control-layers-toggle {
    background-image: url(images/layers.png);
    width: 36px;
    height: 36px;
    background-color: lightgrey;
    }*/

    .leaflet-touch .leaflet-control-zoom-in, .leaflet-touch .leaflet-control-zoom-out {
    font-size: 22px;
    color: black;
  }

h6 {
  color:seagreen ;
  font-size: 11px;
  /*font-weight: bold;
  letter-spacing: 5px;*/
  text-align: center;
  /*text-decoration: underline;*/
  /*text-transform: lowercase;*/
  font-family:  Helvetica, serif;
  font-style: italic;
}

h3 {
  color:seagreen ;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 3px;
  text-align: center;
  /*text-decoration: underline;*/
  /*text-transform: lowercase;*/
  font-family:  Helvetica, serif;
  /*font-style: italic;*/
}


h5 {
  color:seagreen ;
  font-size: 25px;
  font-family:  Helvetica, serif;

}

/*.navbar {
      padding: 0px
}*/


/*.leaflet-control-browser-print a {
    background: lightgoldenrodyellow url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3gcCCi8Vjp+aNAAAAGhJREFUOMvFksENgDAMA68RC7BBN+Cf/ZU33QAmYAT6BolAGxB+RrrIsg1BpfNBVXcPMLMDI/ytpKozMHWwK7BJJ7yYWQbGdBea9wTIkRDzKy0MT7r2NiJACRgotCzxykFI34QY2Ea7KmtxGJ+uX4wfAAAAAElFTkSuQmCC) no-repeat 5px;
    background-size: 16px 16px;
    display: block;
    border-radius: 2px;
}*/


